body {
	font: 1em/150% Helvetica, Arial, sans-serif;
	padding: 1em;
	margin: 0 auto;
	background-color: rgba(192,222,237)
	max-width: 33em;
}

h2 {
	font-size: 1.5em;
	color: rgba(255,255,255,1);
	background-color: rgba(0, 172, 237, 1);
	border: 10px solid rgba(0,172, 237, 1);
}

textarea {
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
}

input[type=submit] {
	background-color: rgba(0, 172, 237, 1);
	font-size: 16px;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}
