{{ define "yield" }}
  {{ range . }}
    <div class="row"> 
      <div class="col-xs-12 col-sm-6 col-md-8">
        {{ .Text }} 
      </div>
    </div>
  {{ end }}
  <button name="tweet" value="Tweet!" type="submit" formaction="https://twitter.com/"> </button>
{{end}}
