{{define "yield"}}
  <h2> Welcome to Tweetpost! </h2>
    <form id="form" action="post" method="POST">
      <textarea placeholder="Write your tweet here ..." name="text"> </textarea>
      <input type="submit" id="split" value="Split" />
    </form>
{{end}}
