{{define "yield"}}
		<h2> Welcome to Tweetpost! </h2>
		<form id="form" action="/post">
			<textarea placeholder="Write your tweet here ..." name="text"> </textarea>
			<input type="submit" value="Split" />
		</form>
{{end}}
