{{define "content"}}
      {{ template "header" }}

      <!-- main form  -->
      {{ template "form" }}
      <!-- tweets  -->
      {{ template "tweets" . }}

      {{ template "footer" }}
    </div>
  </body>
{{end}}
